html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fefae0;
}

.img-rounded {
    border-radius: 50%;
    border: 1px solid #bc6c25;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

/* #about {
    padding-bottom: 10%;
} */

#menu {
    background-color: #fefae0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #faedcd;
}

.btn-brown {
    background-color: #bc6c25 !important;
    color: #fefae0 !important;
}

.btn-brown-inversed {
    color: #bc6c25 !important;
    background-color: #fefae0 !important;
    border-color: #bc6c25 !important;
}

.text-caramel {
    color: #bc6c25 !important;
}

.custom {
    backdrop-filter: blur(20px);
    background-color: #cc8c1628;
    box-shadow: 0 0 10px 1px #cc8c165b;
    /* border: 1px #bc6c25 solid; */
}

.text-bg-caramel {
    color: #cc671629;
    background-color: #cc8c1649;
    backdrop-filter: blur(10px);
    border: 1px solid #cc8c16;
}


#profile_pic {
    max-width: 50% !important;
}

@media (min-width: 768px) { /*md*/
    #about {
        margin-top: 12% !important;
    }

    #profile_pic {
        max-width: 80% !important;
    }
}